node_modules/
out/
declarator/build/
boilerplate/out/
boilerplate/node_modules/
*.log
.idea/
.vscode/
.settings/
.project
.cproject
.settings
.pydevproject

cxx_node_extensions/llvm_ir_eh_generator/build/

# ignore lock file since prebuilt packages are used
package-lock.json
