include(android.inc.jinja)
[settings]
arch=armv8
target_abi=aarch64-none-linux-android24
[env]
CONAN_CMAKE_TOOLCHAIN_FILE={{ os.path.join(profile_dir, "toolchains", "android_toolchain_armv8.cmake") }}
