include(android.inc.jinja)
[settings]
arch=x86_64
target_abi=x86_64-none-linux-android24
[env]
CONAN_CMAKE_TOOLCHAIN_FILE={{ os.path.join(profile_dir, "toolchains", "android_toolchain_x86_64.cmake") }}
